@model jQuery_ModalPopUp_In_MVC_4.Models.EmployeeModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("UpdateEmployee", "ManageEmployee", "POST"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EmployeeModel</legend>
        @Html.HiddenFor(model => model.Id)
        <table width="100%">
            <tr>
                <td>@Html.LabelFor(model => model.Emp_ID)</td>
                <td>@Html.EditorFor(model => model.Emp_ID)
                    @Html.ValidationMessageFor(model => model.Emp_ID)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>

            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Dept)</td>
                <td>
                    @Html.EditorFor(model => model.Dept)
                    @Html.ValidationMessageFor(model => model.Dept)</td>

            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.City)</td>
                <td>
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)</td>

            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.State)</td>
                <td>
                    @Html.EditorFor(model => model.State)
                    @Html.ValidationMessageFor(model => model.State)</td>

            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Country)</td>
                <td>
                    @Html.EditorFor(model => model.Country)
                    @Html.ValidationMessageFor(model => model.Country)</td>

            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Mobile)</td>
                <td>
                    @Html.EditorFor(model => model.Mobile)
                    @Html.ValidationMessageFor(model => model.Mobile)</td>

            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                        <span class="ui-button-text">Update</span></button></td>
            </tr>
        </table>
    </fieldset>
}
