@model MsdnMvcWebGrid.Models.Product.PagedProductsModel
@using MsdnMvcWebGrid.Infrastructure;
@using MsdnMvcWebGrid.Domain;
@{
    ViewBag.Title = "Standard Ajax";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
}

<h2>Standard Ajax</h2>


<div id="grid">

@{
    var grid = new WebGrid<Product>(null, rowsPerPage: Model.PageSize, defaultSort: "Name", ajaxUpdateContainerId: "grid");
    grid.Bind(Model.Products, autoSortAndPage: false, rowCount: Model.TotalRows);
    //var grid = Html.ServerPagedGrid(Model.Products, Model.TotalRows, rowsPerPage: Model.PageSize, ajaxUpdateContainerId: "grid");
}
@grid.GetHtml(columns: grid.Columns(
        grid.Column("Name", format: @<text>@Html.ActionLink(item.Name, "Details", "Product", new { id = item.ProductId }, null)</text>),
        grid.Column("ListPrice", header: "List Price", format: @<text>@item.ListPrice.ToString("0.00")</text>)
        )
    )

</div>

<p>
    Model.Products.Count() = @Model.Products.Count()
</p>
<p>
    Model.TotalRows = @Model.TotalRows
</p>
